/*HEADER*/
#main_header{width: 100%;height: 100px; background-color:rgba(112,128,144,0.5);position:absolute;top:0;left: 0;right:0;z-index: 1;}

/*GENERAL*/
.active{background:darkred!important;color:#fff;}
.first_main_container{width:100%; height: 100%;}

/*MAIN IMAGE COVER*/
#main_image_cover_section{height: 100%;width: 100%;}
#figure_container{height: 100%;width: 100%;}
#main_image_cover_section figure.figure_elem{position:relative; top:0; left:0; right:0; overflow: auto; height: 100%; width:100%; /*border:1px solid red;*/}
#main_image_cover_section figure.figure_elem img{width: 100%;height: 100%;}
#main_image_cover_section figure.figure_elem figcaption.figure_caption{position:absolute;top: 50%; left: 50%;width: 50%;text-align: center;/*border:1px solid blue;*/}
#main_image_cover_section figure.figure_elem figcaption.figure_caption p{color:#fff;font-size: 3vw;font-family: sans-serif;position: relative;left:-50%;/*border:1px solid green;*/}


/*ICON GRID*/
#grid_ic_section{padding-top:140px;}
#grid_ic_section div.grid_container{/*border:1px solid red;*/width: 70%; margin:0 auto;height: auto;}
#grid_ic_section div.grid_container figure.fig_iframe{/*border:1px solid green;*/width:calc(50% - 10px);display: inline-block;text-align: center;}
#grid_ic_section div.grid_container figure.fig_iframe iframe{/*border:1px solid blue;*/ width: 200px!important; height: 200px!important;}
#grid_ic_section div.grid_container figure.fig_iframe img{/*border:1px solid orange;*/width: 100%;height: auto;}
#grid_ic_section div.grid_container figure.fig_iframe figcaption{/*border:1px solid pink;*/width: 50%; margin:0 auto;font-size: 1vw;font-family: sans-serif;line-height: 3vh;}


/*TABBED PAGE*/
#tabbed_section{/*border:1px solid pink;*/padding-top:140px;width: 70%;height: auto;margin:0 auto;}
#tabbed_section div.tab_button_container{/*border:1px solid cyan;*/padding:0px 10px;margin-bottom:20px;}
#tabbed_section div.tab_button_container button{width:calc(33.33% - 10px); height:30px;background-color: transparent;border-style: none;border:1px solid gray;border-radius: 5px;outline: none;}

#tabbed_section div.tabcontent{/*border:1px solid red;*/ width: 100%;height: auto; margin:auto;}
#tabbed_section div.tabcontent div.container{width:calc(50% - 10px);display: inline-block;vertical-align: top;}
#tabbed_section div.tabcontent div.container figure{/*border:1px solid green;*/}
#tabbed_section div.tabcontent div.container figure.fig_container figcaption{font-size: 0.7vw; color:slategray;}
#tabbed_section div.tabcontent div.container figure img{width: 100%;height: auto;}
#tabbed_section div.tabcontent div.container h3{font-size: 2vw;color:darkred;margin-bottom:20px;}
#tabbed_section div.tabcontent div.container.left_container p{line-height: 2.5vh;width:90%;}


/*COMPARISON*/
#comparison_wid{padding-top:140px;width:100%; height: 100%;}
#comparison_wid div.comparison_vert_tabs{width:50%;margin:0 auto;padding:20px;}
#comparison_wid div.comparison_vert_tabs ul li.tab_item div.tab_display{width:100;text-align: center;background-color:#262626;padding:10px;cursor: pointer;}
#comparison_wid div.comparison_vert_tabs ul li.tab_item div.tab_display:hover > p{color:darkred;}
#comparison_wid div.comparison_vert_tabs ul li.tab_item div.tab_display p{font-size: 2vw;color:#fff;}
#comparison_wid div.comparison_vert_tabs ul li.tab_item div.left{width:calc(80% - 0px);}
#comparison_wid div.comparison_vert_tabs ul li.tab_item div.right{width:calc(20% - 10px);}
#comparison_wid div.comparison_vert_tabs ul li.tab_item div.juxtapoz_div{display: inline-block;vertical-align: top;height: 100%;margin:40px 0px;}
#comparison_wid div.comparison_vert_tabs ul li.tab_item div.juxtapoz_div figure{width:100%;height: 100%; text-align: center;}
#comparison_wid div.comparison_vert_tabs ul li.tab_item div.juxtapoz_div figure.figure_container1{display: block;}
#comparison_wid div.comparison_vert_tabs ul li.tab_item div.juxtapoz_div figure.figure_container2{display:none;}
#comparison_wid div.comparison_vert_tabs ul li.tab_item div.juxtapoz_div figure img{width: auto;height: 600px;}
#comparison_wid div.comparison_vert_tabs ul li.tab_item div.juxtapoz_div.tab_buttons button{display: block; border-style: none;background-color:#fff;width:100%;height: 40px;margin-bottom:20px;font-size: 1vw;border:1px solid darkred;outline: none;}
#comparison_wid div.comparison_vert_tabs ul li.tab_item div.colapse_content{display: none;}


/*IMAGE LIGHTBOX*/
